.form{
    background-color:aliceblue;
    margin: 0 auto;
    padding: 20px;
}
.forminput{
    background-color: rgb(170, 250, 250);
    width: 400px;
    height: 100%;
    color:black;
    margin: 0 auto;
    border-radius: 35px;
}
.formgroup{
    display: flex;
    flex-direction: row;
}
.button{
    display: flex;
    justify-content: center;
}
.colclass{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:768px){
    .forminput{
        width: 350px;
    }
    .button{
        margin-top: -20px;
        height: 25px;
    }
}