.form{
    background-color:aliceblue;
    margin: 0 auto;
    padding: 20px;
}
.forminput{
    background-color: rgb(170, 250, 250);
    width: 400px;
    height: 100%;
    justify-content: center;
    color:black;
    margin: 0 auto;
}
.formgroup{
    font-size: 20px;
    height: 20px;
    background-color: antiquewhite;
}