Body{
    // box-sizing: border-box;
}
.buttons{
    // background-color: rgb(2, 155, 216);
    // height: 250px;
    // width: 240px;
}
.containerCalc{
    width:300px;
    border: solid 3px rgb(0, 71, 202);
    background-color: rgb(31, 149, 246);
    padding: 15px;
}
.row{
    background-color: rgb(0, 71, 202);
    //width: 20%;
    margin:2px;
}
.col{
    margin-left:2px;
    background-color: rgb(95, 188, 255);
}
.table{
    display: block;
    border: solid 6px rgb(0, 71, 202);
    background-color: rgb(31, 149, 246);
    width: 300px;
    margin: auto;
    margin-top:15px;
}
.dispsum{
    display: flex;
    justify-content:flex-end;
    font-size:18px;
}
.disply {
    display: flex;
    justify-content: center;
    font-size: 14px;
}