
body{
    background-color: rgb(195, 255, 233);
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


@media only screen and (max-width:768px){
    body{
        box-sizing: border-box;
        background-color: rgb(214, 214, 214); 
    
    }
}